.cards{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;

}
.card-centro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    span{
        margin-right: 60px;
        font-size: 40px;
        font-weight: 600;
    }
    .total{
        display: flex;
        flex-direction: column;
        p{
            font-size: 14px;
        }
        a{
            font-size: 12px;
            text-decoration: underline;
        }
    }
}
.total-adm{
    padding: 12px;
    width: 100%;
    text-align: center;
    span{
        font-size: 36px;
        font-weight: 600;
    }
}

@media screen and (max-width: 480px){
    .card-centro{
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
        gap: 20px;
    }
}