.cadastrarVeiculo{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    min-height: 100px;
    h2{
        color: #c4c4c4;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 8px;
        margin-top: 15px;
    }

    div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 18%;
        input{
            width: 100%;
        }
    }

    .btn-form{
        flex-direction: row;
        gap: 10px;
    }
}
.car{
    font-size: 32px !important;
}
th{
    background-color: #011B69 !important;
    color: #ffffff !important;
}

@media screen and (max-width: 480px) {
    .cadastrarVeiculo{
        flex-direction: column !important;
        div{
            width: 90%;
        }
    }

}