<app-card-page
  title="Minha Conta"
  icon="pi pi-user">

  <div class="form">

    <div class="dados-usuario">

    <p>
      <p-floatlabel >
          <input
            pInputText
            value="{{usuario.nome}} {{usuario.sobrenome}}" disabled />
          <label>Nome</label>
        </p-floatlabel>
        <!-- <strong>Nome: </strong>
      <input type="text" pInputText value="{{usuario.nome}} {{usuario.sobrenome}}" disabled id=""> -->
    </p>

    <p>
       <p-floatlabel >
          <input
            pInputText
            value="{{usuario.email}}" disabled />
          <label>Email</label>
        </p-floatlabel>
    </p>

    <p>
      <p-floatlabel >
          <input
            pInputText
            value="{{usuario.cargo}}" disabled />
          <label>Cargo</label>
        </p-floatlabel>
    </p>
    
    <p>
        <p-floatlabel >
          <input
            pInputText
            value="{{usuario.role}}" disabled />
          <label>Perfil</label>
        </p-floatlabel>
    </p>

  </div>

    <div class="btns">
        <p-floatlabel >
          <input
            pInputText
            type="password"
            [(ngModel)]="novaSenha" />
          <label>Nova senha</label>
        </p-floatlabel>
        <p-floatlabel>
          <input
            pInputText
            type="password"
            [(ngModel)]="confirmarSenha" />
          <label>Confirmar senha</label>
        </p-floatlabel>
        <p-button
          label="Alterar senha"
          icon="pi pi-check"
          (onClick)="alterarSenha()">
        </p-button>
    </div>

  </div>

</app-card-page>