.dados-usuario{
    display: flex;
    margin-top: 35px;
    margin-bottom: 15px;
    justify-content: space-between;
    input{
        width: 100%;
    }
    p{
        width: 24%;
    }
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;
}

@media screen and (max-width: 600px){
    .dados-usuario{
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        
    }    
    input{
            width: 90%;
    }
    p{
        width: 90% !important;
    }
    
}