<!-- <app-topbar (toggleSidebar)="toggleSidebar()"></app-topbar>

<div class="layout">
  <div 
    class="overlay" 
    *ngIf="sidebarOpen"
    (click)="toggleSidebar()">
  </div>

  <app-sidebar 
  [class.open]="sidebarOpen"></app-sidebar>

  <main >
    <div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>

</div> -->

<div class="layout">

  <div class="sidebar " [class.closed]="open">    
    <!-- <p class="title">Administrador</p> -->
    <div class="links">
        <a routerLinkActive="link-ativo" routerLink="/restrito/veiculos"><i class="pi pi-car"></i> Veículos</a>
        @if (usuario.role == 'Administrador') {        
          <a routerLinkActive="link-ativo" routerLink="/restrito/relatorio"><i class="pi pi-file"></i> Relatórios</a>
          <a routerLinkActive="link-ativo" routerLink="/restrito/motorista"><i class="pi pi-user"></i> Motoristas</a>
          <a routerLinkActive="link-ativo" routerLink="/restrito/gerenciar-veiculos">
            <div class="icone-carro">
              <!-- <i class="pi pi-car"></i>
              <i class="pi pi-cog cog"></i> -->
              <span class="material-symbols-outlined">car_gear</span>
              <p>
                Gerenciar Veículos
  
              </p>

            </div>
          </a>
        }        
        <a routerLinkActive="link-ativo" routerLink="/restrito/minha-conta"><i class="pi pi-user-edit"></i> Minha conta</a>
    </div>
    <div class="sidebar-end">
      <span class="details-user ">
        <div class="user">
          <p-avatar [label]=" getIniciais(usuario?.nome, usuario?.sobrenome) " styleClass="ml-2" size="normal" />
          <div class="flex flex-col  overflow-hidden">
            <p pTooltip="{{ usuario?.nome }} {{ usuario?.sobrenome }}" class="text-[16px] font-bold overflow-hidden text-ellipsis text-nowrap">{{ usuario?.nome }} {{ usuario?.sobrenome }}</p>
            <p class="text-[10px]">{{ usuario?.role }}</p>

          </div>
        </div>
        
      </span>
    </div>    
  </div>

  <div class="centro">

    <header>
      <div class="gradiente"></div>
        <div class="btns-header" >
          <button class="cursor-pointer sm:invisible" (click)="toggleSidebar()">
            @if (open == false) {
              <i class="pi pi-bars"></i>

            }@else {
              <i class="pi pi-times"></i>
            }
          </button>
          <p-button
          size="small"
          variant="outlined"
          icon="pi pi-sign-out"
          label="Sair"
          severity="danger"
          (onClick)="logout()">
          </p-button>
        </div>
    </header>

    <main>
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>

    <footer>
      &#64;JONATAS LIMA
    </footer>

  </div>
</div>

